<div class="d-flex flex-column align-items-center p-4 bg-black">
  <div class="d-flex flex-row justify-content-between w-35">
    <div class="newsletter">
      <div class="mb-2">Subscribe to our newsletter!</div>
      <form>
        <input type="text" class="input-form" />
        <button class="button-submit">Submit</button>
      </form>
    </div>
    <div class="links-box">
      <div class="links d-flex flex-row">
        <div class="me-2">Experience</div>
        <div class="me-2">About Us</div>
        <div>Contact</div>
      </div>
      <div class="socials d-flex flex-row">
        <div class="me-2">Facebook</div>
        <div class="me-2">Instagram</div>
        <div>Twitter</div>
      </div>
    </div>
  </div>
</div>
