<div>
  <div class="d-flex flex-row justify-content-between card p-3">
    <div class="d-flex flex-column">
      <div class="options">Scholarship Name</div>
      <!-- scholarship names -->
      <div class="mb-2 fw-bold">New Scholarship</div>
      <div class="mb-2 fw-bold">New Scholarship</div>
      <div class="mb-2 fw-bold">New Scholarship</div>
      <div class="mb-2 fw-bold">New Scholarship</div>
      <div class="mb-2 fw-bold">New Scholarship</div>
      <div class="mb-2 fw-bold">New Scholarship</div>
      <div class="mb-2 fw-bold">New Scholarship</div>
    </div>
    <div class="d-flex flex-column">
      <div class="options">Date</div>
      <!-- scholarship dates -->
      <div class="mb-2">02.09.24</div>
      <div class="mb-2">02.09.24</div>
      <div class="mb-2">02.09.24</div>
      <div class="mb-2">02.09.24</div>
      <div class="mb-2">02.09.24</div>
      <div class="mb-2">02.09.24</div>
      <div class="mb-2">02.09.24</div>
    </div>
    <div class="d-flex flex-column">
      <div class="options">Deadline</div>
      <!-- scholarship deadlines -->
      <div class="mb-2">09.09.24</div>
      <div class="mb-2">09.09.24</div>
      <div class="mb-2">09.09.24</div>
      <div class="mb-2">09.09.24</div>
      <div class="mb-2">09.09.24</div>
      <div class="mb-2">09.09.24</div>
      <div class="mb-2">09.09.24</div>
    </div>
    <div class="d-flex flex-column">
      <div class="options">Applied/Saved</div>
      <!-- scholarship applied/saved -->
      <div class="saved mb-2">Saved</div>
      <div class="saved mb-2">Saved</div>
      <div class="saved mb-2">Saved</div>
      <div class="saved mb-2">Saved</div>
      <div class="saved mb-2">Saved</div>
      <div class="saved mb-2">Saved</div>
      <div class="saved mb-2">Saved</div>
    </div>
    <div class="d-flex flex-column">
      <div class="options">Status</div>
      <!-- scholarship in-review -->
      <div class="mb-2">In Review</div>
      <div class="mb-2">In Review</div>
      <div class="mb-2">In Review</div>
      <div class="mb-2">In Review</div>
      <div class="mb-2">In Review</div>
      <div class="mb-2">In Review</div>
      <div class="mb-2">In Review</div>
    </div>
  </div>
</div>

<!-- template data only: will be replaced by dynamic data -->
