<nav
  class="d-flex flex-row justify-content-between p-2 ps-5 pe-5 align-items-center shadow-bottom"
>
  <div class="nav-logo">Scholarly</div>
  <ul
    class="custom-list d-flex justify-content-between ps-0 w-25 align-items-center mb-0"
  >
    <li>Home</li>
    <li>Scholarships</li>
    <li>Categories</li>
    <li>Get Started</li>
  </ul>
  <ul
    class="custom-list d-flex justify-content-between ps-0 w-10 align-items-center mb-0"
  >
    <li><a>Sign In</a></li>
    <li class="custom-btn"><a>Sign Up</a></li>
  </ul>
</nav>
