<div class="p-4 w-100">
  <div class="d-flex flex-row justify-content-center p-3">
    <div class="img me-3 w-25"></div>
    <div class="d-flex flex-column w-75" *ngIf="!scholarshipData">
      <div>LOADING...</div>
    </div>
    <div class="d-flex flex-column w-75" *ngIf="scholarshipData">
      <div class="heading mb-1">{{ scholarshipData }}</div>
      <div class="d-flex flex-row mb-1">
        <div class="state p-1"></div>
        <div class="status ms-2 text-white p-1">Open</div>
      </div>
      <div class="description">
        An opportunity offered to undergraduate and postgraduate students.
      </div>
    </div>
  </div>
</div>

<!-- send an object from backend -->
