<div
  class="d-flex flex-column align-items-center justify-content-center"
  style="min-height: 90vh"
>
  <div class="main-card w-50 d-flex flex-row">
    <div class="info-card w-50 me-3">
      <div class="heading text-center mb-2">Sign Up</div>
      <form class="d-flex flex-column">
        <input
          type="text"
          aria-label="First name"
          class="form-control mb-2"
          placeholder="first name"
        />
        <input
          type="text"
          aria-label="Last name"
          class="form-control mb-2"
          placeholder="last name"
        />
        <input
          type="text"
          class="form-control mb-2"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
          placeholder="create new password"
        />
        <input
          type="text"
          class="form-control mb-2"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
          placeholder="confirm password"
        />
        <input
          type="text"
          class="form-control mb-2"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
          placeholder="enter your email id"
        />
        <input
          type="number"
          class="form-control mb-2"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
          placeholder="enter your 10th percentage"
        />
        <input
          type="text"
          class="form-control mb-2"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
          placeholder="enter your 12th percentage"
        />
        <div class="input-group mb-2">
          <label class="input-group-text" for="inputGroupSelect01"
            >UG Degree</label
          >
          <select class="form-select" id="inputGroupSelect01">
            <option selected>B.A</option>
            <option value="1">B.tech</option>
            <option value="2">BBA</option>
            <option value="3">LLB</option>
          </select>
        </div>
        <input
          type="number"
          class="form-control mb-2"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
          placeholder="enter your UG percentage"
        />
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01"
            >Intended Degree</label
          >
          <select class="form-select" id="inputGroupSelect01">
            <option selected>M.A</option>
            <option value="1">M.tech</option>
            <option value="2">MBA</option>
            <option value="3">MD</option>
          </select>
        </div>
        <button type="button" class="btn btn-dark">Create Account</button>
      </form>
    </div>
    <div class="img-card w-50"></div>
  </div>
</div>
