<div class="p-4 mt-4 ms-4 mb-2 d-flex shadow-subtle">
  <div class="me-3">
    <div class="custom-index">0{{ index }}</div>
    <!-- a bit of an issue with styling: not completely top aligned -->
  </div>
  <div>
    <div class="d-flex flex-column align-items-start">
      <img src="" alt="" />
      <span class="scholarship-org">{{ scholarship.organisation }}</span>
    </div>
    <div class="scholarship-name">
      {{ scholarship.name }}
    </div>
    <div class="date-time">
      <span>{{ scholarship.date | date : "short" }}</span>
      <span> . </span>
      <span>{{ scholarship.status | titlecase }}</span>
    </div>
  </div>
</div>
