<div class="d-flex justify-content-between">
  <div class="w-20">
    <app-left-options></app-left-options>
  </div>
  <div class="w-75 d-flex flex-row justify-content-between">
    <div class="w-60">
      <div class="d-flex justify-content-between mt-4">
        <app-status-card></app-status-card>
        <app-status-card></app-status-card>
        <app-status-card></app-status-card>
      </div>
      <div class="mt-5">
        <app-applied-scholarship-list></app-applied-scholarship-list>
      </div>
    </div>
    <div class="w-25 d-flex me-4">
      <div>
        <app-profile-card></app-profile-card>
      </div>
    </div>
  </div>
</div>
