<div class="d-flex flex-row w-100">
  <div class="scholarships d-flex flex-column align-items-center w-75">
    <div class="w-100">
      <app-scholarship-detail-card></app-scholarship-detail-card>
      <app-scholarship-detail-card></app-scholarship-detail-card>
      <app-scholarship-detail-card></app-scholarship-detail-card>
      <app-scholarship-detail-card></app-scholarship-detail-card>
      <app-scholarship-detail-card></app-scholarship-detail-card>
    </div>
  </div>
  <div class="filter-card">
    <app-filter-box></app-filter-box>
  </div>
</div>
<!-- *ngFor="let scholarship of scholarships" -->
